body
{
font-family: Verdana;
}

h1
{
margin: 0px;
padding: 10px;

background-color: rgb(190, 220, 250);

font-family: Verdana;
font-variant: small-caps;
font-weight: bold;
font-size: 24px;

border-bottom: thin solid rgb(0, 0, 0);
}

h2
{
margin-top: 30px;
margin-bottom: 10px;
font-family: Verdana;
font-variant: small-caps;
font-weight: bold;
font-size: 16px;
}

p
{
font-family: Verdana;
font-size: 12px;
}

td
{
font-family: Verdana;
font-size: 12px;
}

li
{
font-family: Verdana;
font-size: 12px;
margin-bottom: 10px;
}

dd
{
font-family: Verdana;
font-size: 12px;
}

p.block-row-name
{
display: compact;
width: 20%;
float: left;
font-weight: bold;
margin-top: 10px;
margin-bottom: 10px;
}

p.block-row-description
{
display: compact;
float: left;
width: 75%;
padding-left: 10px;
margin-top: 10px;
margin-bottom: 10px;
}

br
{
clear: both;
}
