body
{
font-family: Verdana;
}

h1
{
margin: 0px;
padding: 10px;

background-color: rgb(190, 220, 250);

font-family: Verdana;
font-variant: small-caps;
font-weight: bold;
font-size: 24px;

border-bottom: thin solid rgb(0, 0, 0);
}

h2
{
font-family: Verdana;
font-variant: small-caps;
font-weight: bold;
font-size: 16px;
}

p
{
font-family: Verdana;
font-size: 12px;
}

td
{
font-family: Verdana;
font-size: 12px;
}

li
{
font-family: Verdana;
font-size: 12px;
}

dd
{
font-family: Verdana;
font-size: 12px;
}
